
/* GLOBAL STYLES
-------------------------------------------------- */

.headbg {

    min-height: 200px;

    padding-top: 25%;

    max-height: 400px;

    background-position: center center;

    background-size: cover;

    /*background-color: #666;*/

    /*background-attachment: fixed;*/

}

/*Picutre 16 : 6*/

.headbg[data-bg="2"] {

    background-image: url('../../images/about.jpg');

}

.headbg[data-bg="3"] {

    background-image: url('../../images/application.jpg');

}

.headbg[data-bg="4"] {

    background-image: url('../../images/dance.jpg');

}

.headbg[data-bg="5"] {

    background-image: url('../../images/FutureWay.jpg');

}

.headbg[data-bg="6"] {

    background-image: url('../../images/project.jpg');

}

.headbg img {

    display: block;

    margin: auto;

    min-width: 100%;

    max-width: 100%;

    max-height: 400px;

    min-height: 150px;

    overflow: hidden;

}

.sideBar .nav ul {

    display: none;

}

.sideBar .nav>.active>ul {

    display: block;

}

.smallDemo {

    max-height: 500px;

}

@media (max-width: 1100px) {

    .sideBar {

        position: static;

        width: auto;

        top: 0;

    }

}

/* Padding below the footer and lighter body text */

body {

    padding-bottom: 40px;

    color: #5a5a5a;

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    z-index: 20;

    opacity: 0.9;

    /*transition: opacity  0.5s ease;*/

}

.navbar-wrapper:hover {

    opacity: 1;

}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .container {

    padding-left: 0;

    padding-right: 0;

}

.navbar-wrapper .navbar {

    padding-left: 15px;

    padding-right: 15px;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {

    /*height: 500px;*/

    /*margin-bottom: 60px;*/

}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {

    z-index: 10;

}

/* Declare heights because of positioning of img element */

.carousel .item {

    /*height: 500px;*/

    background-color: #777;

}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {

    margin: auto;

}

@media all and (min-width:888px) {

    .carousel-inner > .item > img {

        top: 0;

        left: 0;

        max-width: 100%;

    }

}

@media all and (max-width: 887px) {

    .carousel-wrapper {

        width: 100%;

        display: inline-block;

        position: relative;

    }

    .carousel-wrapper:after {

        padding-top: 56.25%;

        display: block;

        content:'';

    }

    .carousel-inner > .item > img {

        position: absolute;

        top: 0;

        left: 0;

        min-height:221px;

        min-width: 392px;

    }

    .carousel {

        position: absolute;

        top: 0;

        left: 0;

        height: 100%;

        min-height: 221px;

        display: inline-block;

        width: 100%;

    }

    /* Since positioning the image, we need to help out the caption */

    .carousel-caption {

        z-index: -1;

    }

    /* Declare heights because of positioning of img element */

    .carousel .item {

        /*height: 100%;*/

        min-height: 221px;

        background-color: #777;

    }

    .carousel-inner {

        overflow: none;

    }

}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */

.marketing {

    padding-left: 15px;

    padding-right: 15px;

}

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {

    text-align: center;

    margin-bottom: 20px;

}

.marketing h2 {

    font-weight: normal;

}

.marketing .col-lg-4 p {

    margin-left: 10px;

    margin-right: 10px;

}

/* Featurettes
------------------------- */

.featurette-divider {

    margin: 40px 0;

    /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */

.featurette-heading {

    font-weight: 300;

    line-height: 1;

    letter-spacing: -1px;

}

.featurette-image {

    width: 400px;

    display: block;

    margin-left: auto;

    margin-right: auto;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */

    .marketing {

        padding-left: 0;

        padding-right: 0;

    }

    /* Navbar positioning foo */

    .navbar-wrapper {

        margin-top: 20px;

    }

    .navbar-wrapper .container {

        padding-left: 15px;

        padding-right: 15px;

    }

    .navbar-wrapper .navbar {

        padding-left: 0;

        padding-right: 0;

    }

    /* The navbar becomes detached from the top, so we round the corners */

    .navbar-wrapper .navbar {

        border-radius: 4px;

    }

    /* Bump up size of carousel content */

    .carousel-caption p {

        margin-bottom: 20px;

        font-size: 21px;

        line-height: 1.4;

    }

    .featurette-heading {

        font-size: 50px;

    }

}

@media (min-width: 992px) {

    .featurette-heading {

        margin-top: 30px;

    }

}
